# MacOS
.DS_Store

# vim
*.swp

# SPM
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Publish
/.publish
/Output
/tailwindcss
