# MacOS
.DS_Store

# vim
*.swp

# SPM
.build
Packages
*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# Static Site Generators (Publish & Hugo)
.publish
Output
public
.hugo_build.lock
resources/_gen/
tailwindcss

# Bezel Hugo generated CSS
bezel/static/styles.css
bezel/assets/css/styles.css

# Vuepress
dist
.temp
.cache
node_modules/

recordkit-docs-electron.zip
recordkit-docs-swift.zip
wwdcindex.zip
cache
