html {
    background-color: #eee;
    background-image: url(/images/background-noise-light.png);
    color: #333;
}

body {
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

h1 {
    font-size: 44pt;
    margin: 60px 0 30px 0;
}

.contact {
    margin: 120px 0;
}

a {
    color: #555;
}

footer {
    font-size: small;
/*
    border-top: 1px solid #888;
    max-width: 600px;
    margin: 0px auto;
*/
}

footer .external-links {
    font-size: medium;
    padding: 10px 0;
}

footer .external-links a {
    text-decoration: none;
    display: inline-block;
    margin: 8px 16px;
}

footer .external-links a img {
    vertical-align: text-top;
    margin-right: 6px;
}

footer p {
	line-height: 1.5em;
}

#logotype {
    display: inline-block;
    text-indent: -99999em;
    overflow: hidden;
    background: url(/images/nonstrict-logotype-light.png) 0 0 no-repeat;
    width: 256px;
    height: 75px;
    background-size: 256px 75px;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #333;
        background-image: url(/images/background-noise-dark.png);
        color: #eee;
    }

    a {
        color: #aaa;
    }

    #logotype {
        background-image: url(/images/nonstrict-logotype-dark.png);
    }
}