<header class="bg-white">
    <div class="mx-auto max-w-7xl px-6">
        <div class="flex items-center justify-between py-6">
            <a href="/">
                <img class="h-10 w-auto" src="/images/logomark-background.svg" alt="Nonstrict">
            </a>

            <nav class="flex space-x-10">
                <a href="/blog/" class="text-base font-medium text-gray-500 hover:text-gray-900">Blog</a>
                <a href="mailto:hello@nonstrict.com" class="text-base font-medium text-gray-500 hover:text-gray-900">Contact</a>
            </nav>
        </div>
    </div>
</header>
