# Simple workflow for deploying static content to GitHub Pages
name: Deploy

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

env:
  DEVELOPER_DIR: /Applications/Xcode-16.4.0.app/Contents/Developer

jobs:
  # Build job
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: volta-cli/action@v4
      - run: ./setup.sh
      - run: ./build.sh
        env:
          GITHUB_TOKEN: ${{ secrets.GH_PAT }}
      - uses: actions/upload-pages-artifact@v3
        with:
          path: ./dist

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - id: deployment
        uses: actions/deploy-pages@v4
