<div class="relative isolate overflow-hidden">
    <div class="absolute left-[calc(50%-40rem)] top-[calc(50%-16rem)] -z-10 transform-gpu blur-3xl" aria-hidden="true">
        <div class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
    </div>

    <div class="mx-auto max-w-6xl px-9 pt-7">
        <div class="mt-12 sm:mt-24 text-center">
            <h1 class="text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-6xl">{{ T "vision_hero_title" | safeHTML }}</h1>
            <p class="mt-4 text-lg leading-8 text-gray-600 dark:text-gray-300">{{ T "vision_hero_sub" }}</p>
            <p class="mt-16 sm:mt-20 text-lg leading-8 text-gray-600 dark:text-gray-300"><a href="https://apps.apple.com/us/app/bezel-device-mirror/id6476657945"><img class="inline w-44 sm:w-48" alt="Download on the App Store" src="/bezel/images/appstore.svg"></a></p>
        </div>

        <video autoplay muted playsinline loop preload="auto" class="mx-auto mt-20 sm:mt-24 w-full rounded-md bg-white/5 ring-1 ring-gray-600/50 dark:ring-white/50">
            <source src="/bezel/video/vision-demo.mov#t=0.001" type="video/mp4">
        </video>
    </div>
</div>

<div class="relative isolate overflow-hidden">
    <div id="features" class="text-center mx-auto max-w-4xl px-9 pt-10 lg:place-content-between lg:px-8 lg:pt-40">
        <div class="mt-12">
            <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-5xl">{{ T "vision_feat1_title" }}</h2>
            <p class="mx-auto mt-3 max-w-2xl text-center text-lg leading-8 text-gray-600 dark:text-gray-300">{{ T "vision_feat1_sub" }}</p>
            <video id="demo-video" data-trigger="replay-demo-video" autoplay muted playsinline loop preload="auto" class="mx-auto mt-8 w-full rounded-md bg-white/5 ring-1 ring-gray-600/50 dark:ring-white/50">
                <source src="/bezel/video/vision-multi.mov#t=0.001" type="video/mp4">
            </video>
        </div>

        <div class="mt-20">
            <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-5xl">{{ T "vision_feat2_title" }}</h2>
            <p class="mx-auto mt-3 max-w-2xl text-center text-lg leading-8 text-gray-600 dark:text-gray-300">{{ T "vision_feat2_sub" }}</p>
            <video autoplay muted playsinline loop preload="auto" class="mx-auto mt-8 w-full rounded-md bg-white/5 ring-1 ring-gray-600/50 dark:ring-white/50">
                <source src="/bezel/video/vision-stunning.mov#t=0.001" type="video/mp4">
            </video>
        </div>

        <div class="mt-20">
            <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-5xl">{{ T "vision_feat3_title" }}</h2>
            <p class="mx-auto mt-3 max-w-2xl text-center text-lg leading-8 text-gray-600 dark:text-gray-300">{{ T "vision_feat3_sub" }}</p>
            <video autoplay muted playsinline loop preload="auto" class="mx-auto mt-8 w-full rounded-md bg-white/5 ring-1 ring-gray-600/50 dark:ring-white/50">
                <source src="/bezel/video/vision-wireless.mov#t=0.001" type="video/mp4">
            </video>
        </div>

        <div class="mt-20">
            <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-5xl">{{ T "more_to_love_title" }}</h2>

            <div class="flex items-center">
                <div class="mt-8 mx-auto max-w-2xl grid grid-cols-1 gap-y-2 text-left text-lg leading-8 text-gray-600 dark:text-gray-300">
                    <p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-purple-600 dark:text-purple-400 inline-block -mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                    {{ T "vision_more_1" }}
                    </p>
                    <p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-purple-600 dark:text-purple-400 inline-block -mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                    {{ T "vision_more_2" }}
                    </p>
                    <p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-purple-600 dark:text-purple-400 inline-block -mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                    {{ T "feature_guided" }}
                    </p>
                    <p>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-purple-600 dark:text-purple-400 inline-block -mt-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                    </svg>
                    {{ T "vision_more_4" }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="mx-auto max-w-6xl px-9 pt-0 pb-0 sm:pb-4">
        <div class="mt-12 sm:mt-24 text-center">
            <p class="mt-16 sm:mt-20 text-lg leading-8 text-gray-600 dark:text-gray-300"><a href="https://apps.apple.com/us/app/bezel-device-mirror/id6476657945"><img class="inline w-44 sm:w-48" alt="Download on the App Store" src="/bezel/images/appstore.svg"></a></p>
        </div>
        <p class="mt-6 text-center">
        <a class="rounded-full px-3 py-1 text-sm leading-6 text-slate-600 hover:text-slate-800 dark:text-slate-400 dark:hover:text-slate-200 ring-1 ring-slate-800/20 dark:ring-slate-200/20 hover:ring-slate-600/60 dark:hover:ring-slate-800/60" href="{{ .Site.Home.RelPermalink }}">
            {{ T "also_available_macos" }} <span aria-hidden="true">&rarr;</span>
        </a>
        </p>
    </div>

    <div class="mx-auto max-w-2xl px-9 pb-20">
        <h2 id="faq" class="mt-20 text-4xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl text-center">{{ T "faq_title" }}</h2>

        <h3 class="mt-8 mb-2 text-lg text-gray-900 dark:text-white font-semibold">{{ T "vision_faq1_q" }}</h3>
        <p class="my-2 text-gray-600 dark:text-gray-400">{{ T "vision_faq1_a" | safeHTML }}</p>

        <h3 class="mt-8 mb-2 text-lg text-gray-900 dark:text-white font-semibold">{{ T "vision_faq2_q" }}</h3>
        <p class="my-2 text-gray-600 dark:text-gray-400">{{ T "vision_faq2_a" }}</p>

        <h3 class="mt-8 mb-2 text-lg text-gray-900 dark:text-white font-semibold">{{ T "vision_faq3_q" }}</h3>
        <p class="my-2 text-gray-600 dark:text-gray-400">{{ T "vision_faq3_a" | safeHTML }}</p>
    </div>
</div>
